@model HolidayGroupie.ViewModels.EventItemViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Event.Name</h1>
<h2 id="date-time">On @Model.Event.Date</h2>
<h3 id="location">@Model.Event.Location</h3>
@if (@Model.Event.OrganizerId != null)
{
    <h3> Organized by @Model.Event.OrganizerId.Name</h3>
}
<p>Description: @Model.Event.Description</p>


<div class="row">
    <div class="col-md-4">
        <h3>Who's coming?</h3>
        @if (Model.Friends == null)
        {
            <h5>No Friends Attending Yet</h5>
        }
        else
        {

            <ul class="fa-ul" id="added_friends">
                @foreach (var friend in Model.Friends)
                {
                    <li><i class="fas fa-envelope-square"></i>@friend.Name</li>
                }
            </ul>
        }
        <button data-toggle="modal" data-target="#friend-search-modal" style=" border-radius: 10px" class="btn btn-outline-success">
            Invite Friends
        </button>
    </div>
    <div class="col-md-4">
        <h3>What to bring</h3>
        <button data-toggle="modal" data-target="#item-form-modal" class="btn-block btn-outline-success">Add Items</button>
        <ul id="item-display-list" class="fa-ul">
            @foreach (var item in Model.Items)
            {
            <li><i class="fas fa-shopping-bag"></i>

                <h4>@item.Name</h4>
                @if (item.Bringer != null)
                {
                    

                    <h3>Brought by @item.Bringer</h3>


                }
                
                <div class="form-group">
                    <select class="custom-select">
                        <option selected disabled>Assign a Friend</option>
                        @foreach (var friend in Model.Event.Attendees)
                        {
                            <option>@friend.Name</option>
                        }
                    </select>
                </div>
            </li>
            }
        </ul>
    </div>
    <div class="col-md-4" id="weather-info">
        <h3>What will the weather be like?</h3>
        <h4 id="weather-summary"> </h4>
        <h5></h5>
    </div>
</div>
<!--Friend Add Modal-->
<div class="modal in" id="friend-search-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search your Friends</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="friend-table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Friend</th>
                            <th>Add</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var friend in Model.SearchableFriends)
                        {
                            <tr>
                                <td>@friend.Name</td>
                                @if (!Model.Friends.Any(f => f.Id == friend.Id))
                                {
                                    <td><button data-friend-id="@friend.Id" data-friend-name="@friend.Name" class="btn btn-primary js_add_friend">Add</button></td>
                                }
                                else
                                {
                                    <td><button class="btn btn-primary">Added!</button> </td>
                                }

                            </tr>

                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Item Form Modal -->
<div class="modal in" id="item-form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Items to Bring</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="item-form" class="modal-body">

                <div class="form-group">
                    <input id="item-form-box" type="text" placeholder="Write an Item" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary js_add_item">Add Item</button>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--JQuery script for operations in adding items-->
@section scripts
{
    


    <script>
        //I need to make an api to do item operations
        $(document).ready(function () {

            dragula([document.querySelector('#added_friends'), document.querySelector('#item-display-list')]);

            $('#friend-table').DataTable({
                "pageLength": 5,
                "bLengthChange": false
            });
            var long;
            var lat;
            var date = $('#date-time').text().split(' ');
            console.log(date);
            var reverseDate = date[1].split('/');
            var newDate = [];
            newDate.push(reverseDate[2]);
            newDate.push(reverseDate[0]);
            newDate.push(reverseDate[1]);
            var properDate = newDate.join('-');

            //start work wit the getting latt and long
            //for events
            var address = $('#location').text();
            address = address.split(' ');
            address = address.join('+');

            $.ajax({
                url: "https://maps.googleapis.com/maps/api/geocode/json?address=" + address + "&key=AIzaSyDnkN1brLK8B3EzToGV7axWtsgYMhqkMSA",
                method: "GET",
                crossDomain: true,
                dataType: 'json',
                success: function (response) {
                    //return lat and long from address lookup
                    long = response.results[0].geometry.location.lng;
                    lat = response.results[0].geometry.location.lat;

                    //api call to darksky to get weather information
                    $.ajax({
                        url: "https://api.darksky.net/forecast/e892ab43807febdad60517e6741bc675/" + lat + "," + long + "," + properDate + "T12:00:00",
                        method: "GET",
                        crossDomain: true,
                        dataType: 'jsonp',
                        success: function (response) {
                            $("#weather-info").children("h4").text(response.hourly.summary);
                            $("#weather-info").children("h5").text("It will be " + response.hourly.data[0].temperature.toFixed(2) + "9\xB0 F");
                        }

                    });
                }
            });



            $('#item-form').on("click", " .js_add_item", function () {
                $.ajax({
                    url: "/api/event/AddItemToEvent/" + @Model.Event.Id + "/" + $('#item-form-box').val(),
                    method: "PUT",
                    success: function () {
                        var toAdd = $("<li></li>").append($("<h4></h4>").text($('#item-form-box').val()));
                        toAdd.prepend($("<i></i>").addClass("fas fa-shopping-bag"));
                        toAdd.attr("id", "item-display-list-item");
                        $('#item-display-list').append(toAdd);
                        $('#item-form-box').val('');
                    }
                });
            });

            $("#friend-table").on("click", " .js_add_friend", function () {
                $.ajax({
                    url: "/api/event/AddFriendToEvent/" + @Model.Event.Id + "/" + $(this).attr("data-friend-id"),
                    method: "PUT",

                });
                var toAdd = $("<li></li>").text($(this).attr("data-friend-name"));
                var icon = $("<i></i>").addClass("fas fa-envelope-square");
                toAdd.prepend(icon);
                $('#added_friends').append(toAdd);
                $(this).text("Added!");
            });


        });
    </script>
    <script>

    </script>
}


