@model IEnumerable<HolidayGroupie.Models.Friend>
@{
    ViewBag.Title = "Friends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Friends</h2>
@if (!Model.Any())
{
    <p>You have not added any friends yet</p>
    <button style=" border-radius: 10px" class="btn btn-outline-success">
        @Html.ActionLink("Add Friend", "New", "Friends", null)
    </button>
}
else
{
    <button style=" border-radius: 10px" class="btn btn-outline-success">
        @Html.ActionLink("Add Friend", "New", "Friends", null)
    </button>
    <table id="friends" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Friend</th>
                <th>Upcoming Event</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var friend in Model)
            {
                <tr>
                    <td>@Html.ActionLink(friend.Name + " " + friend.LastName, "Details", new { id = friend.Id }, null)</td>
                    @if (friend.UpcomingEvent != null)
                    {
                        <td><p>@Html.ActionLink(friend.UpcomingEvent.Name, "Details", "Events", new { id = friend.UpcomingEvent.Id }, null)</p></td>
                    }
                    else
                    {
                        <td><p>No events scheduled</p></td>
                    }
                    <td>
                        <button data-friend-id="@friend.Id" class="btn btn-outline-danger js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@section scripts
{
    <script>
        $(document).ready(function () {
            $('#friends').DataTable();
            $('#friends').on("click", '.js-delete', function () {
                var button = $(this);


                if (confirm("Are you sure you want to delete this friend?")) {
                    $.ajax({
                        url: "/api/friend/" + button.attr("data-friend-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                        }
                    })
                };
            });
        });
    </script>
}